<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <error-page>
        <error-code>404</error-code>
        <location>/errors/404.html</location>
    </error-page>
    <error-page>
        <error-code>406</error-code>
        <location>/errors/406.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/errors/500.html</location>
    </error-page>
    <error-page>
        <error-code>503</error-code>
        <location>/errors/503.html</location>
    </error-page>
</web-app>